body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

li{
    list-style-type: none;
    margin-left: -5%;
}

#searchInput{
    height: 30px;
    border-radius: 5px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#pokemonInfo {
    margin-top: 20px;
    text-align: left;
}

.moves{
    font-size: 24px;
    font-weight: bold;
}

.types{
    font-size: 24px;
    font-weight: bold;
}

.height{
    font-size: 22px;
}

.weight{
    font-size: 22px;
}

.typesImg{
    margin-top: -2%;
}

.abilities{
    margin-top: -3%;
    font-size: 18px;
}